* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.header h1 {
  border-bottom: 2px solid #2e4057;
  padding: 2px;
  font-size: 40px;
}

body {
  background-color: #0fa3b1;
  text-align: center;
}
.container {
  padding-top: 30px;
  height: 65vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.game-field {
  height: 65vmin;
  width: 65vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  /* background-color: rgba(96, 139, 172, 0.422); */
  /* border: 5px solid rebeccapurple; */
  padding: 5px;
  border-radius: 20px;
}
.box {
  height: 16vmin;
  width: 16vmin;
  border-radius: 20px;
  /* border: none; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 8vmin;
  color: black;
  font-weight: 500;
  border: rgb(0, 0, 0) 2px solid;
}
.game-field button {
  background-color: #5d529c77;
}
.game-field button:hover {
  background-color: #048ba931;
}
.reset-btn {
  font-size: 30px;
  padding: 10px;
  margin: 30px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.reset-btn:hover {
  background-color: rgb(59, 55, 55);
}
.newg-btn {
  font-size: 30px;
  padding: 10px;
  margin: 30px;
  background-color: black;
  color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.newg-btn:hover {
  background-color: rgb(59, 55, 55);
}
.con {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(87, 19, 235);
}
.hide {
  display: none;
}
